{% extends 'base.html' %}
{% load static %}

{% block extra_title %} - Reset password {% endblock %}

{% block content %}
    <div class="inner">
        <form method="post" class="form" role="form">
            <h1 class="heading">Password reset</h1>
            {% csrf_token %}

            <input type="email" class="input-text" name="email" placeholder="Email" autocomplete="Email" maxlength="254" />
            {% if form.email.errors %}
                {{ form.email.errors }}
            {% endif %}

            <input type="submit" class="input-text submit" value="Request Password Reset"/>

            <div class="panel">
                <p class="no-account para">Already have an account?</p>
                <a href="/" class="input-text register">Login</a>
            </div>
        </form>
    </div>
{% endblock %}