{% extends 'base.html' %}

{% block content %}
    {% if validlink %}
        <div class="inner">
            <form method="post" class="form">
                <h1 class="heading">Password reset</h1>
                {% csrf_token %}
                <!-- form.as_p -->
                {% if form.non_field_errors %}
                    {{ form.non_field_errors }}
                {% endif %}
                <input name="new_password1" type="password" class="input-text" placeholder="New password" autocomplete="New password"/>
                {% if form.new_password1.errors %}
                    {{ form.new_password1.errors }}
                {% endif %}
                <input name="new_password2" type="password" class="input-text" placeholder="Confirm new password" autocomplete="New password"/>
                {% if form.new_password2.errors %}
                    {{ form.new_password2.errors }}
                {% endif %}
                <input type="submit" class="input-text submit" value="Change Password"/>
            </form>
        </div>
    {% else %}
        <div class="section-break top">
            <div class="inner">
                <h1 class="heading">Password reset</h1>
                <p class="para">
                The password reset link was invalid, possibly because it has already been used.
                Please request a new password reset.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}