backend/karmabackend/.dockerignore
backend/karmabackend/backend/.coverage
backend/karmabackend/backend/.idea/*
backend/karmabackend/backend/__pycache__/
backend/karmabackend/backend/static/
backend/karmabackend/backend/.coverage
backend/karmabackend/backend/htmlcov/
backend/karmabackend/backend/karmaapp/serializers/__pycache__/
backend/karmabackend/backend/karmaapp/views/__pycache__/
backend/karmabackend/backend/karmaapp/admin/__pycache__/
backend/karmabackend/backend/karmaapp/migrations/__pycache__/
backend/karmabackend/venv/
backend/karmabackend/backend/backend/__pycache__/
backend/karmabackend/backend/charities/__pycache__/
backend/karmabackend/backend/charities/models/__pycache__/
backend/karmabackend/backend/karmaapp/__pycache__/
backend/karmabackend/backend/karmaapp/models/__pycache__/
frontend/.expo/
frontend/node_modules/

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store
