npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
frontend/web-build/
frontend/web-report/
backend/static
backend/karmabackend/backend/.idea/
backend/karmabackend/venv/
frontend/.expo/
frontend/node_modules/
frontend/yarn.lock
backend/karmabackend/backend/.idea/workspace.xml
backend/karmabackend/backend/htmlcov/
backend/karmabackend/backend/.coverage


# macOS
.DS_Store
