backend/karmabackend/backend/.coverage
backend/karmabackend/backend/static/
backend/karmabackend/backend/htmlcov/
backend/karmabackend/venv/
*.pyc
frontend/.expo_shared/
frontend/.expo/
frontend/node_modules/
frontend/ios/Pods/

node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.log
*.mobileprovision
*.orig.*
web-build/
web-report/

# XCode
**/xcuserdata/

# macOS
.DS_Store

# IntelliJ / PyCharm et al.
*.idea

# Android Studio
frontend/android/.gradle
frontend/android/app/build
frontend/android/local.properties
*.iml
